body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#4e4e4e;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
/*样式重置结束*/
body{
    /*background: url("../images/bg.jpeg");*/
    /*background-color: #ffffff;*/
    /*background-color:rgba(255,255,255,0.6);*/
    color: #000;
}
#my-title{
    margin: 15px 0 10px 30px;
}
#introduce a{
    color: #00d6b2;
}
h1{
    font-size: 36px;
    color: #00B7FF;
}
#my-nav{
    display: flex;
    justify-content:center;
}
#my-nav li{
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #873399;
    padding: 20px;
    margin: 0 20px 10px 20px;
    background: #ffcccc;
    border-radius: 10px;
}
#nav-title{
    display: none;
}
@media screen and (max-width: 640px) {
    #my-nav{
        display: block;
    }
    #my-nav li{
        /*position: absolute;*/
        /*width:80%;*/
        color: #879999;
        padding: 10px;
        margin: 0px 20px 5px 20px;
        /*background: #00d6b2;*/
        display: none;

    }
    #my-nav #nav-title{
        display: block;
    }
}


/*--------------------------*/
@media screen and (max-width: 640px) {
    #room audio{
        width: 100%;
        /*position: fixed;*/
    }
    #my-info {
        margin: 0 20px 10px 20px;
        font-size: 16px;
    }
    #my-hobby{
        margin-top: 10px;
    }
    .hobby{
        background: #b89f7a;
        padding: 3px 5px;
        margin: 5px 2px;
        display: inline-block;
        /*float: left;*/
        border-radius: 5px;
    }
    #my-label{
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
    }
    .skill-bar{
        margin: 15px 0 0 5px;
        font-size: 20px;
        padding: 5px 0;
        border: 1px solid #FA5889;
        border-radius: 50px;
        width: 60%;
        background: #FA5889;
        display: inline-block;
    }
    #html,#css{
        width: 60%;
    }
    #php,#js,#jquery{width:55%}
    #nodejs{
        width: 35%;
    }
    #alg{
        width: 30%
    }
    #vue{
        width: 48%;
    }
    label{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        width: 25%;
        color: #A7A7A7;
        display: inline-block;
    }
    #my-skill{
        margin-bottom: 10px;
    }
    #map{
        margin: 8px auto;
        width: 100%;
        /*height: 100px;*/
        border: 1px solid #BBBBBB;
        border-radius: 10px;
        text-align: center;
        position: relative;
        padding: 0 0 30px 0;
    }
    #map span{
        position: absolute;
        background: #6E6E6E;
        font-weight: bold;
        color: #fff;
        padding: 2px 10px;
        border-radius: 10px;
        bottom: 0;
        right: 0;
    }
    #make-friend{
        display: flex;
    }
    #wechat,#fb{
        /*float: left;*/
        /*width: 25%;*/
        flex: 1;
        /*height: 100px;*/
        margin: 5px 0 5px 5px ;
    }
    #wechat img,#fb img{
        width: 100%;
        height: 100%;
    }
    #mail{
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
    }

}

/*--------------------------*/
@media screen and (max-width: 640px) {
    #my-project p{
        font-size: 16px;
    }
    #my-project {
        font-size: 18px;
        margin: 10px 20px;
    }
    #szpfr{
        margin-top: 5px;
        display: inline-block;
        color: #B8D29B;
    }
    .it-stack span{
        font-size: 20px;
        margin: 5px 0 5px 5px;
        background: #FFEEBC;
        padding: 2px 5px;
        border-radius: 5px;
        display: inline-block;
    }
    #my-project .gallery img{
        width: 100%;
        height: 100%;
    }
    #my-project .gallery .pc{
        width: 150%;
        height: 150%;
        margin-left: -25%;
    }
    #my-project .gallery{
        width: 60%;
        margin: 10px auto;
    }
    .gallery figcaption{
        text-align: center;
        margin: 10px 0;
        color: #C66231;
        border-bottom: 1px solid #b89f7a;
    }
    #contact{
        text-align: center;
        color: #881280;
    }
}
/*--------------------------*/
@media screen and (max-width: 640px) {
    #my-share p {
        font-size: 16px;
    }

    #my-share {
        font-size: 18px;
        margin: 10px 20px;
    }
    .book{
        width: 60%;
        text-align: center;
        padding: 8px 20%;
    }
    .book img{
        width: 100%;
        height: 100%;
    }
    .download{
        font-size: 12px;
    }
    #qianduan{
        margin: 0 auto;
        padding: 0 auto;
    }
    #qq{
        color: #FFCF78;
        margin: 0 auto;
    }
}
/*--------------------------*/

#footer{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
